{% extends 'base.html' %}

{% block title %}
<title> About the Developers </title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/about.css">
{% endblock %}

{% block content %}
<h1 class="text-center">Meet the Developers! </h1>
<div class="container">
    <div class="row align-items-center" id="founder">
        <div class="col-5 offset-1" id="Jordan">
            <img src="../static/images/Jordan.png" alt="">
            <p class="text-center">Backend Developer</p>
        </div>
        <div class="col-5 offset-1" id="Merissa">
            <img src="../static/images/Rissy.jpeg" alt="">
            <p class="text-center">Full-Stack Developer</p>
        </div>
    </div>
</div>
{% endblock %}