{% extends 'base.html'%}

{% block title %}
<title>Feed Page</title>
{% endblock%}

{% block styles %}
<link rel="stylesheet" href="../static/styles.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

   

        <!-- Most popular category -->

        <div class="row">
            <h3 class="text-center" id="category">Most Popular</h3>
            <a class="text-center" id="button" href="../templates/about.html">See all</a>
        </div>
        <div class="container" id="popular">
            {% for i in context %}
            <div class=" col-3 card">
                <img src="{{i.image_url}}" class="card-img-top" alt="..." data-toggle="modal" data-target="#listing">
                <div class="card-body">
                    <h5 class="text-center">{{i.name}}</h5>
                    <small>{{i.location.display_address}}</small>
                </div>
                <div class="modal fade" id="listing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="{{i.image_url}}">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body ">
                                <p> Modal Box Description.
                                    sdc
                                    dfvdv
                                    sscg sdgscsc dfvfd
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
</div>

    <footer>
        <p>&copy; Cheap Eats </p>
    </footer>

{% endblock %}