{% extends 'base.html'%}

{% block title %}
    <title>Feed Page</title>
{% endblock%}

{% block styles %}
    <link rel="stylesheet" href="../static/styles.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="jumbotron jumbotron-fluid rounded" style="
        height: 300px;
        margin: 20px;
        background-image: url('../static/images/jumbotron.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        ">
            <div class="container" >
            </div>
        </div>

        <!--Most popular category -->
        <h3>Most popular</h3>

        <div class="container" id="popular">
                <div class=" col-3 card carousel slide shadow-sm"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/food.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>Chicken Sandwhich</h4>
                    <p class="card-text"> $15</p>
                    <small>1234 Main st. </small>
                    </div>
                </div>
                <div class=" col-3 card carousel slide shadow-sm"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>Skewer</h4>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class=" col-3 card carousel slide shadow-sm"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/toast.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>French Toast</h4>
                    <p class="card-text">$8</p>
                    <small>1234 NE Main St.</small>
                    </div>
                </div>
                <div class=" col-3 card carousel slide shadow-sm"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/toast.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>French Toast</h4>
                    <p class="card-text">$8</p>
                    <small>1234 NE Main St.</small>
                    </div>
                </div>
                <div class=" col-3 card carousel slide shadow-sm"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/toast.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>French Toast</h4>
                    <p class="card-text">$8</p>
                    <small>1234 NE Main St.</small>
                    </div>
                </div>
                <div class=" col-3 card carousel slide shadow-sm"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/toast.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>French Toast</h4>
                    <p class="card-text">$8</p>
                    <small>1234 NE Main St.</small>
                    </div>
                </div>
        </div>

        <!-- Cheap Eats -->

        <h3>Under $15 </h3>
        <div class="container">
            <div class="row">
                <div class="card carousel slide"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/food.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>Chicken Sandwhich</h4>
                    <p class="card-text"> $15</p>
                    <small>1234 Main st. </small>
                    </div>
                </div>
                <div class="card carousel slide"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/skew.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>Skewer</h4>
                    <p class="card-text">$12</p>
                    <small>1234 NW st. </small>
                    </div>
                </div>
                <div class="card carousel slide"  data-ride="carousel" style="width: 18rem;">
                    <img src="../static/images/toast.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4>French Toast</h4>
                    <p class="card-text">$8</p>
                    <small>1234 NE Main St.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}